{% extends 'book_base.html' %}

{% load i18n %}

{% block content %}

    <ul class="books">
        {% for author in authors %}
            <li class="{% cycle 'even' 'odd' %}">
                <a href="{% url author_detail author.pk %}">
                    <div class="">{{ author }}</div>
                </a>
            </li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="{% url author_list %}page{{ page_obj.previous_page_number }}">{% trans 'previous' %}</a>
            {% endif %}

            <span class="current_page">
                {% blocktrans with page_no=page_obj.number %}
                    Page {{ page_no }}
                {% endblocktrans %}
            </span>
            {% if page_obj.has_next %}
                <a href="{% url author_list %}page{{ page_obj.next_page_number }}">{% trans 'next' %}</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}