{% extends 'layout.html' %}

{% load i18n %}

{% block content %}
    <h1>{{ book.title }}</h1>

    <div>
        <a href="{% url update_book book.pk %}">{% trans 'Edit' %}</a>
    </div>
    <div>
        {{ book.author }}
    </div>
    <div>
        <ul>
            {% for file in book.file_set.all %}
                <li>{{ file }}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <form method="post" action=".">
            {{ file_form.as_table }}
        </form>
    </div>
{% endblock %}