{% extends 'layout.html' %}

{% load i18n %}

{% block content %}

    <ul>
        {% for book in books %}
            <li><a href="{% url book_detail book.pk %}">{{ book.title }} ({{ book.author }}) {{ book.year|date:'Y' }}</a></li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="{% url book_list %}page{{ page_obj.previous_page_number }}">{% trans 'previous' %}</a>
            {% endif %}

            <span class="current_page">
                {% blocktrans with page_no=page_obj.number %}
                Page {{ page_no }}
                {% endblocktrans %}
            </span>
            {% if page_obj.has_next %}
                <a href="{% url book_list %}page{{ page_obj.next_page_number }}">{% trans 'next' %}</a>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}

{% block menu_context %}
    <a href="{% url create_book %}">{% trans 'Add book' %}</a>
{% endblock %}
