{% extends 'layout.html' %}

{% load i18n %}

{% block content %}

    <div id="search_block">
        <form action="{% url book_list %}" method="get">
            <table>
                <tr>
                    <td>
                        <input type="search" name="keyword" placeholder="Search..." value="{{ search_value }}">
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <ul class="books">
        {% for book in books %}
            <li class="{% cycle 'even' 'odd' %}">
                <a href="{% url book_detail book.pk %}">
                    <div class="book_title">{{ book.title }}</div>
                    <div class="book_author">{{ book.author }}</div>
                    <div class="book_date">{{ book.year|date:'Y' }}</div>
                    <div class="book_count">{{ book.file_set.count }}</div>
                </a>
            </li>
        {% endfor %}
    </ul>

    <p>{% blocktrans with displayed=books.count all=paginator.count%}Displayed {{ displayed }} books from {{ all }}.{% endblocktrans %}</p>

    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="{% url book_list %}page{{ page_obj.previous_page_number }}">{% trans 'previous' %}</a>
            {% endif %}

            <span class="current_page">
                {% blocktrans with page_no=page_obj.number %}
                    Page {{ page_no }}
                {% endblocktrans %}
            </span>
            {% if page_obj.has_next %}
                <a href="{% url book_list %}page{{ page_obj.next_page_number }}">{% trans 'next' %}</a>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}

{% block menu_context %}
    <a href="{% url create_book %}">{% trans 'Add book' %}</a>
{% endblock %}
