{% extends 'book_base.html' %}

{% load i18n %}

{% block page_title %}
    {{ block.super }} {{ book.title }}
{% endblock %}

{% block jquery_on_load %}{% if False %}<script type="text/javascript">{% endif %}

    jQuery('.h1_single_line').each(function(){
        var that = jQuery(this);
        var overlay = jQuery('<h1 class="h1_single_line_popup"></h1>')
            .text(that.text())
            .width(that.width())
            .mouseleave(function(){jQuery(this).hide()})
            .insertBefore(that);
        that.mouseenter(function(){
            if (overlay.height() > that.height()) {
                overlay.show();
            }
        });
    });

    jQuery.each(['file_form', 'edition_form'], function(index, name) {
        jQuery('.' + name).click(function(e) {
            e.preventDefault();
            jQuery('#' + name).toggle();
        }).first().trigger('click');
    });

{% if False %}</script>{% endif %}{% endblock %}

{% block content %}
    <div id="book_detail">
        <h1 class="h1_single_line">{{ book.title }}</h1>

        <span class="h1_edit_link">
            <a href="{% url update_book book.pk %}">{% trans 'Edit' %}</a>
        </span>

        <div class="trusted_authors">
            {% for author in book.trusted_author.all %}
                {{ author.display_name }}
            {% endfor %}
        </div>
        <div class="authors">
            {{ book.author }}
        </div>

        <table class="details">
            <tr>
                <th>{% trans 'Year:' %}</th>
                <td>{{ book.year|date:'Y' }}</td>
            </tr>
            <tr>
                <th>{% trans 'Pages:' %}</th>
                <td>{{ book.pages }}</td>
            </tr>
            <tr>
                <th>{% trans 'ISBN:' %}</th>
                <td>{{ book.edition_set.all|join:', ' }}</td>
            </tr>
            <tr>
                <th>{% trans 'Publisher:' %}</th>
                <td>{{ book.publisher_set.all|join:', ' }}</td>
            </tr>
        </table>

        <p><a class="edition_form" href="{% url add_edition_book book.pk %}">{% trans 'Add Edition Info' %}</a></p>
        <div id="edition_form">
            <form method="post" action="{% url add_edition_book book.pk %}">
                {% csrf_token %}
                <table>
                    {{ edition_form.as_table }}
                    <tr>
                        <th>&nbsp;</th>
                        <td>
                            <input type="submit" value="{% trans 'Add Edition Info' %}"> {% trans 'or' %} <a class="edition_form" href="{% url add_edition_book book.pk %}">{% trans 'Cancel' %}</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="books_files">
            <p>{% trans 'Files:' %}</p>
            <ul class="books_files">
                {% for file in book.file_set.all %}
                    <li class="{% cycle 'even' 'odd' %}">{{ file }}</li>
                {% empty %}
                    <li>{% trans 'No files found' %}</li>
                {% endfor %}
            </ul>
            <p><a class="file_form" href="{% url add_file_book book.pk %}">{% trans 'Add File' %}</a></p>
        </div>

        <div id="file_form">
            <form method="post" action="{% url add_file_book book.pk %}">
                {% csrf_token %}
                <table>
                    {{ file_form.as_table }}
                    <tr>
                        <th>&nbsp;</th>
                        <td>
                            <input type="submit" value="{% trans 'Add File' %}"> {% trans 'or' %} <a class="file_form" href="{% url add_file_book book.pk %}">{% trans 'Cancel' %}</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}

{% block menu_context %}
    <a href="{% url book_list %}">{% trans 'List of books' %}</a>
{% endblock %}